[Desktop Entry]
Icon=text-html
Name=cimiefiiaegbelhefglklhhakcgmhkai
Type=Link
URL[$e]=https://chrome.google.com/webstore/detail/plasma-integration/cimiefiiaegbelhefglklhhakcgmhkai
X-KDE-LastOpenedWith=google-chrome
