[Desktop Entry]
Icon=image-png
Name=Screenshot_20240216_170302.png
Type=Link
URL[$e]=file:$HOME/Pictures/Screenshot_20240216_170302.png
X-KDE-LastOpenedWith=systemsettings
