[Desktop Entry]
Icon=application-zip
Name=Utterly-Nord-kvantum.zip
Type=Link
URL[$e]=file:$HOME/Downloads/Utterly-Nord-kvantum.zip
X-KDE-LastOpenedWith=org.kde.ark
