
/*** STATIC-PAGE ***/

.heading-2 {
  font-size: 21px;
  margin-bottom: 8px;
  font-weight: 500;
}

.static-page p.readable {
  font-size: 19px;
  line-height: 23px;
  margin: 0;
  padding: 8px 0;
}

.emphasis {
  font-weight: 500;
}

/*** TERMS ***/

.terms {
  max-width: 50%;
  margin-bottom: 32px;
}

/*** FEATURE WRAPPERS ***/

.coming-soon-wrapper {
  background-color: var(--accent-background-color);
  padding: 32px;
  border-radius: 5px;
  margin: 32px 0;
}

.feature-points.soon {
  margin-bottom: 32px
}

.feature-points p {
  font-size: 17px;
}

.feature-points .feature-section {
  margin: 8px 0 48px;
  display: flex;
  align-items: center;
}

.feature-points.available,
.feature-points.available .feature-section {
  margin-bottom: 32px;
}

.feature-points .feature-section:last-child {
  margin-bottom: 0px;
}

.feature-points .feature-section .icon-wrapper {
  width: 72px;
  min-width: 72px;
  margin-right: 20px;
}

.feature-points .feature-section .icon-wrapper img {
  width: 100%;
}

.feature-points .feature-section .value-add {
  font-size: 19px;
}

/*** ACTIONS + REPRO ***/

.actual-cloud-row {
  margin-top: 32px;
}

.main-actions .btn-get-started {
  width: 256px;
  cursor: pointer;
}

.main-actions .btn-get-started img {
  width: 100%;
}

.main-actions .caption {
  font-size: 13px;
  color: var(--text-color-caption);
  margin: 8px 0;
}

.repro-summary .header  {
  font-size: 24px;
}

.repro-summary .mono div {
  color: var(--text-color-dark);
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
